<header>
    <div class="logo">
      <img src="logo.png" alt="Logo ODS6">
    </div>
    <nav>
      <ul>
        <li><a href="noticia">noticia</a></li>
        <li><a href="ongs">ONGs</a></li>
        <li><a href="barracoes">Barracões</a></li>
        <li><a href="Login">Login</a></li>
        <li><a href="Info-Ongs">Info ongs</a></li>
      </ul>
    </nav>
    <div class="user-profile">
      <img src="user-icon.png" alt="Perfil do Usuário">
    </div>
  </header>