<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\css\Home.css">
    <title>ODS 6</title>
</head>
<body>
    <header>
        <nav role="navigation">
            <section id="HomeToggle">
                <input type="checkbox">
                <span></span>
                <span></span>
                <span></span>
                    <ul id="Home">
                        <a href="#"><li>Barracao</li></a>
                        <a href="#"><li>Info-ongs</li></a>
                        <a href="#"><li>Login</li></a>
                        <a href="#"><li>Noticias</li></a>
                        <a href="#"><li>Ongs</li></a>
                    </ul>
            </section>
        </nav>
    </header>
    
</body>
</html>